
body {
  /* Degradados: https://uigradients.com/ */
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
}

#msg {
  width: 80%;
}

#display {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 700px;
  height: 500px;
  float: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;

}


a:link {
  color: SlateGrey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: plum;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: SlateBlue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: PeachPuff;
  background-color: transparent;
  text-decoration: underline;
}

.end {
  padding: 10px;
  text-align-last: end;
}
