body {
  background-image:url('fly.jpg');
  background-repeat: repeat;
  background-size: contain;
}

div{
  float:center;
  text-align: center;
}

img {
  float:center;
}

#paris{
  margin-top: 70px;
  margin-right: 70px;
  width:200px;
  height:300px;
  float:right;
}

a:link {
  color: SlateGrey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: plum;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: SlateBlue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: PeachPuff;
  background-color: transparent;
  text-decoration: underline;
}

h1 {
  color: gray;
  text-align: center;
  font-family: optima, sans-serif;
  font-size: 20px;
}

h3 {
  color: powderblue;
  text-align: center;
  margin-left: 40px;
  font-family: optima, sans-serif;
  font-size: 15px;
}

h6{
  text-align: left;
  margin-left: 40px;
  font-family: optima, sans-serif;
}

p {
  text-align: center;
  font-family: courier;
  font-size: 13px;
}

#intro{
  color: gray;
}

#guiaparis{
  text-align: left;
  margin-left: 40px;
}
