{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=StyleSheet href="{% static 'style.css'%}">
    <meta name="author" content="Leyre Millana">
    <title> SHOP ONLINE by LEYRE</title>
  </head>
  <body>
    <div class="header">
      <h1> <i>SHOP ONLINE </i></h1>
      <hr>
      <h2> Welcome! Bienbenue! Benvenuto! ¡Bienvenido! </h2>
      <p id="intro"> ¿Te vas de viaje y aún no tienes claro qué visitar? <br>
      ¡Estás en el sitio ideal! <br>
      Aquí encontrarás las mejores guías de viaje, <br>
      ¿a qué estás esperando?
      <br>
      <br>
      Para más información, haz click en la imagen deseada. <br>
      ¡Buen viaje!
      </p>
    </div>

    <div class="menu">
      <a href="./paris.html">PARIS</a>
      <a href="./pisa.html">PISA</a>
      <a href="./london.html">LONDON</a>
    </div>

    <div class="main">
      <div class="column">
        <h3> GO TO PARIS! </h3>
        <a href="./paris.html">
          <img src="/static/paris.png" alt="PARIS" width="270" height="190">
        </a>
      </div>

      <div class="column">
        <h3> GO TO PISA! </h3>
        <a href="./pisa.html">
          <img src="/static/pisa.png" alt="PISA" width="270" height="240" >
        </a>
      </div>

      <div class="column">
        <h3> GO TO LONDON! </h3>
        <a href="./london.html">
          <img src="/static/london.png" alt="LONDON" width="270" height="190">
        </a>
      </div>
    </div>

    <hr>
    <div class="end">
      <p> Design by Leyre Millana <br>
      Github: <a href="https://github.com/lmillana">github/lmillana</a></p>
    </div>


  </body>
</html>
