{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=StyleSheet href="{% static 'style.css'%}" type="text/css">
    <meta name="author" content="Leyre Millana">
    <title> PISA </title>
  </head>
  <body>
    <div class="header">
      <h1> <i>BENVENUTO A PISA! </i></h1>
      <hr>
    </div>

    <a href="./index.html">
      <img src="/static/back.png" alt="RETURN" width="70" height="90">
    </a>

    <div class="main">
      <h3> BENVENUTO </h3>
      <div class="column">
        <img id="pisa" src="/static/guiapisa.jpg" alt="GUIA">
        <h6> DETALLES DEL PRODUCTO </h6>
        <p id="guiapisa">
          <b> Editor: </b> GeoPlaneta; Edición: 6 (26 de abril de 2018)<br>
          <b>Colección: </b> Guías de Región Lonely Planet<br>
          <b> Idioma: </b> Español<br>
          <b> Tapa blanda: </b> 368 páginas<br>
          <b> Precio: </b> 20,90 euros
        </p>
      </div>

      <div class="column">
        <img id="pisa" src="/static/guiapisa2.jpg" alt="GUIA">
        <h6> DETALLES DEL PRODUCTO </h6>
        <p id="guiapisa">
          <b> Editor: </b> Pacini Editore; Edición: 2 <br>
          <b>Colección: </b> Itinerari<br>
          <b> Idioma: </b> Inglés<br>
          <b> Tapa blanda: </b> 208 páginas<br>
          <b> Precio: </b> 8,90 euros
        </p>
      </div>

      <div class="column">
        <img id="pisa" src="/static/guiapisa3.jpg" alt="GUIA">
        <h6> DETALLES DEL PRODUCTO </h6>
        <p id="guiapisa">
          <b> Editor: </b> Anaya Touring; Edición: edición (25 de febrero de 2016)<br>
          <b>Colección: </b> Intercity Guides - Internacional<br>
          <b> Idioma: </b> Español<br>
          <b> Tapa blanda: </b> 216 páginas<br>
          <b> Precio: </b> 15,10 euros
        </p>
      </div>
    </div>

    <hr>
    <div class="end">
      <p> Design by Leyre Millana <br>
      Github: <a href="https://github.com/lmillana">github/lmillana</a></p>
    </div>
  </body>
</html>
